.grilla {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 300px;
    grid-gap: 20px;
}

.grillaInfoDerecha {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 400px;
}

.grillaInfoIzquierda {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 250px;
}

@media (max-width: 720px) {
    .grilla {
        grid-template-columns: 7fr;
        grid-template-rows: 500px;
    }
    .grillaInfoDerecha {
        grid-template-columns: 8fr;
        grid-template-rows: 150px 200px;
    }
    .grillaInfoIzquierda {
        grid-template-columns: 6fr;
        grid-template-rows: 300px 150px;
    }
}

@media (max-width: 1400px) and (min-width: 720px) {
    .grilla {
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 520px;
        grid-gap: 20px;
    }
}

@media (max-width: 720px) and (min-width: 320px) {
    .grilla {
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 520px;
        grid-gap: 20px;
    }
}